.square {
    width: 25;
    height: 25;
    backgroundColor: "red";
  }
.cell{
  height: 40px;
  width: 40px;
}

.rev{
  transform: rotate(180deg);
}

.left
{
  transform: rotate(270deg);
}

.right
{
  transform: rotate(90deg);
}

  .horizontal-slider {
    width: 100%;
    max-width: 100px;
    height: 50px;
    border: 1px solid grey;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically if needed */
    left: 45%;
  }

.p-wrapper
{
  display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically if needed */
    height: 100vh;         /* Optional: Makes the container full height */
}
.board{
  position: relative;
  left:33%;
}

.vertical-slider {
  height: 380px;
  width: 50px;
  border: 1px solid grey;
}

.board{
  
}

.example-thumb {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 5px solid gray;
  box-sizing: border-box;
}


.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-1 {
  background: rgb(128, 128, 128);
}

.example-track.example-track-2 {
  background: #0f0;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.horizontal-slider .example-thumb {
  top: 1px;
  width: 50px;
  height: 48px;
  line-height: 38px;
}

.vertical-slider .example-thumb {
  left: 1px;
  width: 48px;
  line-height: 40px;
  height: 50px;
}

.vertical-slider .example-track {
  left: 20px;
  width: 10px;
}
